.App {
  width: 375px;
  height: 375px;
  text-align: center;
  background-color: #212121;
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.18);
}

.Nav-container {
  display: flex;
  align-items: center;
  flex-flow: row;
  height: 36px;
  padding: 38px 14px;
}

.Nav-icon {
  height: 27px;
}

.Nav-title {
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  margin-left: 5px;
  letter-spacing: -0.03em;
  color: #fff;
}

.Botton-addTask-contaioner{
  position: absolute;
  right: 11px;
  bottom: 11px;
}

.Button-addTask {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 100%;
  background: #272727;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.36);
}
