.App {
  position: relative;
  width: 375px;
  height: 375px;
  text-align: center;
  border-radius: 12px;
  background-color: #292d36;
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.18);
}

.Nav-container {
  display: flex;
  align-items: center;
  flex-flow: row;
  height: 36px;
  padding: 38px 14px 7px 14px;
}

.Nav-icon {
  width: 27px;
  height: 27px;
}

.Nav-title {
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  margin-left: 5px;
  letter-spacing: -0.03em;
  color: #fdfdfb;
}

.Nav-subtitle-container {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.Nav-subtitle {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  margin: 7px 14px 14px 14px;
  letter-spacing: 0.03em;
  color: #c1c4cb;
}

input {
  width: 319px;
  height: 34px;
  margin: 0 14px;
  padding: 0 14px;
  color: #c1c4cb;
  border: 0;
  border-radius: 4px;
  background-color: hsla(212, 9%, 32%, 50%);
}

.Botton-addTask-container {
  position: absolute;
  right: 11px;
  bottom: 11px;
}

.Button-addTask {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 0;
  border-radius: 100%;
  background: #4b525a;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.36);
}

.Task-container {
  display: flex;
  align-items: center;
  flex-flow: row;
}

.Task-checkbox {
  width: 16px;
  height: 16px;
  margin: 14px 2px 7px 14px;
  border-radius: 4px;
}

.Task-title {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  margin-top: 2px;

  color: #c1c4cb;
}
